.user-red {
    color: #FF0000;
}

.user-orange {
    color: #FF8000;
}

.user-yellow {
    color: #C0C000;
}

.user-blue {
    color: #0000FF;
}

.user-cyan {
    color: #00C0C0;
}

.user-green {
    color: #008000;
}

.user-brown {
    color: #804000;
}

.user-gray {
    color: #808080;
}

.user-unrated {
    color: #000000;
}

.user-admin {
    color: #C000C0;
}

.tooltip1 {
    position: relative;
    cursor: pointer;
    display: inline-block;
}

.script_tname {
    margin: 0;
    padding: 0;
}

.description1 {
    display: none;
    position: absolute;
    padding: 2px 10px;
    font-size: 12px;
    line-height: 1.6em;
    color: #111;
    border-radius: 5px;
    background: #ccc;
    width: 58px;
}

.tooltip1:hover .description1 {
    display: inline-block;
    top: -4px;
    left: -60px;
}