.user-red {
  color: #ff0000;
}

.user-orange {
  color: #ff8000;
}

.user-yellow {
  color: #c0c000;
}

.user-blue {
  color: #0000ff;
}

.user-cyan {
  color: #00c0c0;
}

.user-green {
  color: #008000;
}

.user-brown {
  color: #804000;
}

.user-gray {
  color: #808080;
}

.user-unrated {
  color: #000000;
}

.user-admin {
  color: #c000c0;
}
